name: Build and Push Docker Image

on:
  push:
    branches: [ "master" ]

env:
  GCP_PROJECT_ID: cucibayargo-485115
  CLOUD_RUN_SERVICE: cucibayargo-production
  CLOUD_RUN_REGION: asia-southeast1
  IMAGE: ccbdev2026/node-api

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:${{ github.sha }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.CLOUD_RUN_SERVICE }}
          region: ${{ env.CLOUD_RUN_REGION }}
          image: docker.io/${{ env.IMAGE }}:${{ github.sha }}
